<ion-header>
  <ion-toolbar>
    <ion-title>Sobre Mi</ion-title>
    <img slot="end" width="30" height="30" class="ion-margin-end" src="./assets/images/logo-2.png">

  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">

    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-text color="warning">
            <h2>Hola,</h2>
          </ion-text>

          <ion-text color="medium">
            <p>Soy José Vergelin, un diseñador gráfico ubicado en la mitad del mundo. Me encanta crear cosas para internet y en general para la vida.</p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text color="warning">
            <p>• • •</p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text color="warning">
            <h2>Que puedo hacer</h2>
          </ion-text>
          <ion-text color="medium">
            <p>
              Me apasiona el diseño en todas sus formas, mis puntos fuertes son el diseño de marcas y el área editorial, y, actualmente, me interesa desarrollar proyectos digitales para internet.
            </p>
            <p>
              Al día de hoy trabajo de forma remota y tengo un compromiso en el área educativa como docente universitario. Sin embargo me gusta trabajar en ideas nuevas e interesantes.
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

</ion-content>
<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <app-main-nav></app-main-nav>
  </ion-toolbar>
</ion-footer>
