<p>
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/home" tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/quienes-somos" tab="contact">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>nosotros</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/search" tab="buscar">
        <ion-icon name="search-circle"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/nuevahueca" tab="work">
        <ion-icon name="camera"></ion-icon>
        <ion-label>Nueva Hueca</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/mapshuecas" tab="contact">
        <ion-icon name="pin"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</p>
