<p>
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/home" tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/about" tab="about">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Sobre Mi</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/work" tab="work">
        <ion-icon name="albums"></ion-icon>
        <ion-label>Portfolio</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/contact" tab="contact">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs></p>
