<ion-header>
  <ion-toolbar>
    <ion-title>Huecas Ecuador</ion-title>
    <img slot="end" width="30" height="30" class="ion-margin-end" src="./assets/images/logo-2.png" alt="logo">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card *ngFor="let hueca of huecas">
          <img src="./assets/{{hueca.imageUrl}}"  alt="{{hueca.title}}"/>

          <ion-card-header>
            <ion-card-subtitle>{{hueca.lugar}}</ion-card-subtitle>
            <ion-card-title color="primary">{{hueca.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{hueca.description}}
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <app-main-nav></app-main-nav>
  </ion-toolbar>
</ion-footer>
